/* AppHeader.css */
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f8fc;
  padding: 10px 20px;
  height: 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 50px;
  height: 50px;
  /* border-radius: 50%; */
}

.search-bar input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  width: 250px;
  transition: width 0.3s ease;
}

.search-bar input:focus {
  width: 300px;
  border-color: #888;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: #555;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #333;
}

.user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
