.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  height: 60px;
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.App-layout {
  display: flex;
  height: calc(100vh - 60px);  
}
.App-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f5f5f5;
}

